<form (ngSubmit)="submit()" class="form__container" #myForm="ngForm">

  <div class="form__label"><label for="email">Email</label></div>
  <div class="form__input">
    <input
      type="email"
      name="email"
      id="email"
      required
      placeholder="joe@example.com" [(ngModel)]="form.email" #email="ngModel"
    />
  </div>
  <div *ngIf="email.invalid && ( email.dirty || email.touched)" class="error">
    Email field must be valid
  </div>


  <div class="form__label">
      <label for="'confirmEmail">Confirm Email</label>
  </div>
  <div class="form__input">
      <input type="email" name="confirmEmail" id="confirmEmail" [(ngModel)]="form.confirmEmail" #confirmEmail="ngModel"  required/>
  </div>


  <div *ngIf="confirmEmail.invalid && ( confirmEmail.dirty || confirmEmail.touched)" class="error">
    Email not matching
  </div>


  <div class="form__label"><label for="password">Password</label></div>
  <div class="form__input">
    <input type="password" name="password" id="password" required [(ngModel)]="form.password"  #password="ngModel"/>
  </div>

  <div *ngIf="password.invalid && ( password.dirty || password.touched)" class="error">
    Password field must be valid
  </div>

  <div class="form__btn">
    <button [disabled]="myForm.form.invalid" type="submit">
      
  <ng-container *ngIf="isLoading()">
    Loading...
  </ng-container>
  <ng-container *ngIf="!isLoading()">
    Sign up
  </ng-container>

    </button>
  </div>

  <div>
    <span>Already have an account ? <a routerLink="/login">Login.</a></span>
  </div>
</form>
