<nav class="nav__container">
    <div class="nav__left">
        <div class="nav__logo"><a routerLink="">Book Shop |</a></div>
        <div class="nav__links"><a routerLink="">Home</a></div>
        <div class="nav__links"><a routerLink="cart">Cart</a></div>
        
    </div>
    <ng-container *ngIf="!isAuthenticated()">
            
        <div class="nav__right">
                <div class="nav__links"><a routerLink="login">Login</a></div>
                <div class="nav__links"><a routerLink="register">Register</a></div>
            </div>
            
    </ng-container>    

    <ng-container *ngIf="isAuthenticated()">

        <div class="nav__right">
           <button (click)="logout()">Logout</button>
        </div>
    </ng-container>
    
</nav>
<router-outlet></router-outlet>